:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
}
